
@font-face {
  font-family: WorkSansRegular;
  src: url("../src/assets/fonts/static/WorkSans-Regular.ttf"), format("ttf");
  font-weight: 400,
}

@font-face {
  font-family: WorkSansSemiBold;
  src: url("../src/assets/fonts/static/WorkSans-SemiBold.ttf"), format("ttf");
  font-weight: 600,
}

@font-face {
  font-family: WorkSansBold;
  src: url("../src/assets/fonts/static/WorkSans-Bold.ttf"), format("ttf");
  font-weight: 700,
}

@import "tailwindcss";


@theme {
  --font-worksans: WorkSansRegular, "sans-serif";
}

@theme {
  --font-worksans-semibold: WorkSansSemiBold, "sans-serif";
}

@theme {
  --font-worksans-bold: WorkSansBold, "sans-serif";
}

@theme {
  --color-custom-white: hsl(0, 100%, 100%);
  --color-custom-purple-100: hsl(275, 100%, 97%);
  --color-custom-purple-600: hsl(292, 16%, 49%);
  --color-custom-purple-950: hsl(292, 42%, 14%);
}